.page_dashboard {
  padding-top: 2em;
  padding-bottom: 2em;
}

.project_table {
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;

  * {
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
  }

  tbody > tr > td {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}


//.issue-page-wrapper {
//  padding: 10px;
//  height: calc(100vh - 50px);
//  margin-top: 48px;
//  .issue-table-box {
//    width: 100%;
//    background-color: #fff;
//    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
//    position: relative;
//  }
//  .box-wrapper {
//    margin: -5px 0 5px;
//    .ant-row-flex {
//      height: 100%;
//      flex-wrap: wrap;
//    }
//    .regular-card {
//      height: 155px;
//    }
//    .card-wrapper {
//      padding: 6px;
//      display: flex;
//    }
//    .card-with-tab {
//      height: calc(100vh - 612px);
//      .regular-card {
//        height: 100%;
//      }
//    }
//  }
//}
//
//.regular-card {
//  width: 100%;
//  display: flex;
//  flex-direction: column;
//  @include border-radius(4px);
//  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.08) !important;
//  .ant-card-head {
//    background-color: #f0f0f0;
//    border-radius: 4px 4px 0 0;
//    border-color: #00b0f6;
//    .ant-card-head-title {
//      color: #2d3238;
//      font-size: 14px;
//    }
//  }
//  .ant-card-body {
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    flex-direction: column;
//    height: 100%;
//    .stat-value {
//      font-weight: 600;
//      font-size: 40px;
//      display: block;
//      line-height: normal;
//      color: #2d3238;
//    }
//    .aux-text {
//      font-weight: 500;
//      font-size: 14px;
//    }
//  }
//}
