.login-box, .reset-box {
  padding: 8% 0 0;
}

.login-box .p-5, .reset-box .p-5 {
  padding-bottom:  2rem  !important;
}

.login-box .box, .reset-box .box {
  width: 400px;
  margin: 0 auto;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.company-title {
  text-align: center;
  font-size: 1.1875rem;
}
